streamlit
pandas
numpy
python-dateutil==2.9.0.post0
tzdata
yfinance
multitasking
requests
matplotlib
plotly
mplcursors
pillow
openpyxl
pyarrow
PyYAML
altair
protobuf
watchdog
streamlit-autorefresh
requests