streamlit
pandas
pandas-ta @ git+https://github.com/twopirllc/pandas-ta.git@development
numpy
yfinance
matplotlib
requests
plotly
beautifulsoup4
openpyxl
openpyxl
quantstats
pyportfolioopt
scikit-learn
scipy
